/* reset de margens e paddings */
*{
    margin: 0;
    padding: 0;
}


/* ATIVIDADE2 :

- Padding   Todos os lados iguais: `20px`
- Borda **inferior**
  - Espessura: `3px`
  - Estilo: `solid`
  - Cor: livre
-Fundo - Aplique uma cor de fundo clara para destacar o cabeçalho.
*/

header{
  padding: 20px;
  border-bottom: 3px solid blue ;
  background-color: lightblue;
}

/*  **todas as sections**:

### Espaçamento externo (margin)
- Superior e inferior: `30px`
- Direita e esquerda: `20px`  
➡ Utilize a abreviação com **dois valores**

### Espaçamento interno (padding)
- Todos os lados iguais: `20px`

### Borda e fundo
- Adicione uma borda simples ao redor da section.
- Aplique uma cor de fundo clara, diferente do fundo da página.

--- */

section{
    margin: 30px 20px;
    padding: 20px;
    border: 1px solid blue;
    background-color: lightblue;
}

/* ### Borda
- Borda **apenas à esquerda**
  - Espessura: `4px`
  - Estilo: `solid`
  - Cor: livre

### Espaçamento interno (padding)
- Superior: `10px`
- Direita: `0`
- Inferior: `10px`
- Esquerda: `15px`  
➡ Utilize a abreviação com **quatro valores** */
h2{
    border-left:4px solid blue;
    padding: 10px 0px 10px 15px ;
}

/* 

### Espaçamento externo (margin)
- Superior: `10px`
- Direita: `0`
- Inferior: `15px`
- Esquerda: `0`  
➡ Utilize a abreviação com **quatro valores**

### Espaçamento interno (padding)
- Todos os lados iguais: `10px` */

p{
    margin: 10px 0px 15px 0px ;
    padding: 10px ;
}

/* sessão 1 - tipos de fontes */

.texto-alternativo{
    font-family: 'Courier New', Courier, monospace;
}

.texto-decorativo{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* sessão 2 - Peso das fontes */

.peso-leve{
    font-weight:300;
}

.peso-normal{
    font-weight:normal;
}

.peso-forte{
    font-weight:800;
}

/* sessão 3 - alinhamento de texto */

.alinhado-esquerda{
    text-align: left;
}

.alinhado-centro{
    text-align: center;
}

.alinhado-direita{
    text-align: right;
}

/* sessão 4 - combinação de estilos E REVISÃO DE CORES */

.destaque-cor{
    background-color: blue;
    color: #ffff;
}


/* continuação atividade 2 */

/* Na **última section (combinação de estilos)**:

- Espaçamento interno: `30px`
- Utilize uma cor de fundo diferente das demais sections.
- Mantenha a borda visível para facilitar a identificação da área.
 */

#section4{
   padding: 30px;
   background-color: pink;
   border: 2px solid blue;
}

